.idea/
pyeffects.egg-info/
htmlcov/
.coverage
MANIFEST
coverage.xml
nosetests.xml
junit-report.xml
pylint.txt
.cache/
cover/
build/
docs/_build
requests.egg-info/
*.pyc
*.swp
*.egg
env/
.venv/
.eggs/
.tox/
.pytest_cache/
.vscode/
.eggs/
dist

/.mypy_cache/

