[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
alabaster = "*"
codecov = "*"
docutils = "*"
detox = "*"
flake8 = "*"
more-itertools = "<6.0"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
pytest-xdist = "*"
readme-renderer = "*"
sphinx = "*"
tox = "*"

[packages]

[requires]
python_version = "3.6"
